<!--/*Header Begins*/-->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" >
			<div class="navbarcontent" >
				<img style="margin-top:15px;" src="{{ STATIC_URL }}design/img/pcaaudit_logo.png" alt="PCA Audit">
				{% if user.is_authenticated %}
				<div class="btn-group pull-right">
					<span class="floatleft_navbar">
						{% if user.get_profile.usuarioexterno %}
							{% if user.get_profile.usuarioexterno.nombre_mostrar %}
								{{ user.get_profile.usuarioexterno.nombre_mostrar }}
							{% else %}
								{{user.get_full_name}}
							{% endif %}
						{% else %}
							{{user.get_full_name}}
						{% endif %}
					</span> <a class="floatleft_navbar" data-toggle="dropdown" href="#"> <img src="{{ STATIC_URL }}design/img/user_config.png" alt="PCA Audit"></a>
					<ul class="dropdown-menu">
						<li><a href="#">Perfil</a></li>
						<li class="divider"></li>
						<li><a href="/audit/logout/">Cerrar Sesión</a></li>
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="navigationbar">
	<div class="navigationbar-inner">
		<div class="containernavigationbar">
			{% if user.get_profile.user_cliente.logo %}
				<img class="company_logo" src="{{ STATIC_URL }}logos/{{ user.get_profile.user_cliente.logo }}" alt="{{ user.get_profile.user_cliente }}" title="{{ user.get_profile.user_cliente }}">
			{% else %}
				<img class="company_logo" src="{{ STATIC_URL }}design/img/company_logo.png" alt="PCA Audit">
			{% endif %}
			<div class="topmenuicons"><a href="/contacto" onMouseOut="MM_swapImgRestore()" target="_blank" title="Contacto" onMouseOver="MM_swapImage('Contacto','','{{ STATIC_URL }}design/img/bt_contacto_over.png',1)"><img id="Contacto" src="{{ STATIC_URL }}design/img/bt_contacto.png" alt="Contacto"></a></div>
			<div class="topmenuicons"><a href="http://prxvademecum.com" target="_blank" title="PRX Vademécum" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Vademecum','','{{ STATIC_URL }}design/img/bt_vademecum_over.png',1)"><img id="Vademecum" src="{{ STATIC_URL }}design/img/bt_vademecum.png" alt="Vademecum"></a></div>
			{% block faq_manual_y_home %}
			{% endblock %}
		</div>
	</div>
</div>
<!--/*Header End*/--> 