<!-- ******HEADER****** --> 
        <header class="header">  
            <div class="top-bar">
                <div class="container">              
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>         
                        <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>             
                    </ul><!--//social-icons-->
                    {% include "tutor/elements/login.html" %}         
                </div>      
            </div><!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a {% if user.is_authenticated %}href="/tutor/"{% else %}href="/"{% endif %}>
						<img id="logo" style="height:125" src="{{ STATIC_URL }}design/img/onlinelogomaker-stibd.png" alt="Logo">
					</a>
                </h1><!--//logo-->           
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a {% if user.is_authenticated %}href="/tutor/"{% else %}href="/"{% endif %}>Inicio</a></li>
                        <li class="divider"><a href="faq.html">FAQ</a></li>
						{% if user.is_authenticated %}
                        <li class="divider"><a href="contact.html">Contacto</a></li>
						<li><a href="/tutor/logout/">Cerrar Sesión</a></li>
						{% else %}
                        <li><a href="contact.html">Contacto</a></li>
						{% endif %}
                    </ul><!--//menu-top-->
                    <br>
					<div><h1>Sistema Tutorial Inteligente para Base de Datos</h1></div>
                </div><!--//info-->
            </div><!--//header-main-->
        </header><!--//header-->